extends layout

block content
  h1= title
  form#formAddUser(name="adduser", method="post", action="/adduser")
    input#inputUserName(type="text", placeholder="User ID", name="user_id")
    input#inputUserEmail(type="email", placeholder="Email", name="useremail")
    button#btnSubmit(type="submit") submit
